$links-text-color: white;
$font-size: 21px;

.header{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: $font-size;
    background-color: brown;
    position: sticky;
    top: 0;
    z-index: 1000; 
    width: 100vw;
}

.container{
    min-width: 37%;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
    width: 100%
    
}
.navigationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
    white-space: nowrap;
    
}

.links{
    text-decoration: none;
    outline: none;
    color: $links-text-color;
    word-wrap: none;
    display: flex;
    flex-wrap: nowrap;
   
    width: 100%;
    max-width: fit-content;
}
.linkName{
    
   
    

}
.links:hover{
    color:rgb(229, 140, 140)
}

.checkout{
    display: flex;
    flex-direction: row;
    
}

.itemsAmount{
    color: white;
    display: inline-flex;
}
.shopCart{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 3px;
}

@media (max-width: 1000px) {
    .header{
        font-size: 17px
    } 
    .navigationContainer{
        gap: 20px;
    }
    .navigation{
        gap: 5%;
    }
}

@media (max-width: 400px) {
    .header{
        font-size: 14px
    } 
}



@media (max-width: 350px) {
    .header{
        font-size: 12.5px;
    }
    .navigationContainer{
        gap: 10px;
    }
    .navigation{
        gap: 5px;
    }
}