.container{
    margin: 0 auto;
    margin-top: 50px;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: checkout 0.5s forwards;

}
@keyframes checkout {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }
.order{
    display: flex;
    gap: 20px;
    border-bottom: 2px solid brown;
}
.orderDetails{
    display: flex;
    gap: 20px;
}
.orderName{
    width: 70%;
}
.orderTitle{
    margin: 15px auto
}
.orderOptions{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.button{
    background-color: brown;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    outline: none;
    text-decoration: none;
    height: 50px;
    width: 100px;

}
.button:hover{
    cursor: pointer;
    transition: all .3s;
    border-radius: 10px;
    color: brown;
    background-color: white;
}
.button:active{
    transform: translateY(4px);
    color: brown;
    background-color: white;
}
.buttonActions{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 10px;
    flex-direction: column;
}
